<body class="flex-row-even">
    <img src="../../assets/icons/login_page_img.png" alt="Welcome" class="welcomeClass">
    <!-- <img src="../../assets/icons/background_img.png" alt="Welcome" class="welcomeClass"> -->
    <div class="login_form">
        <img src="../../assets/icons/background_img.png" alt="" class="full">
        <div class="login_header flex-row-even">
            <img src="../../assets/icons/logo.png" alt="deevia-logo" class="logo_class">
        </div>
        <div class="login_from_container flex-col-even">
            <h2 class="white_text">Welcome Back !</h2><br>
            <label for="user_id" class="white_text label_class">User ID :</label>
            <br>
            <input type="text" class="input_class shadow" id="userID" placeholder="Enter User ID">
            <br>
            <label for="user_id" class="white_text label_class">Password :</label>
            <br>
            <input type="password" class="input_class shadow" id="password" placeholder="Enter Password">
            <br><br>
            <button type="submit" class="login_btn" (click)="login()">Submit</button>
        </div>
    </div>
</body>
